@media (max-width: 767px) {

    body{
        background-color: #E5E5E5;
    }

    /*Configurações da barra topo*/
    .barra-topo {
        width: 100%;
        height: 92px;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: #CF2B2B;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .barra-topo h1 {
        font-family: 'Righteous';
        font-weight: 400;
        font-size: 44px;
        line-height: 55px;
        letter-spacing: -0.012em;
        color: #FFFFFF;
        margin-left: 21px;
    } 

    .barra-topo h3 {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        margin-left: 21px;
    }

    /*Configurações do conteúdo da página*/
    .conteudo {
        margin-top: 120px;
        margin-bottom: 108px;
    }

    .conteudo .categoria {
        background-color: yellow;
        margin-bottom: 27px;
        overflow: hidden;
        overflow-x: scroll;
    }

    .titulo > p {
        margin-left: 19px;
        margin-bottom: 17px;
        font-family: 'Righteous';
        font-weight: 400;
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0.018em;
        color: #333333;
    }

    .opcoes {
        background-color: slateblue;
        display: flex;
    }

    .opcoes div {
        background-color: #FFFFFF;
        box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
        border-radius: 9px;
        margin-right: 16px;
        box-sizing: border-box;
        width: 172px;
        height: 216px;
        box-sizing: border-box;
    }

    /*Configurações da barra inferior da página*/
    .barra-inferior {
        background-color: #FFFFFF;
        height: 92px;
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aguardando-pedido {
        width: 364px;
        height: 61px;
        background-color: #CBCBCB;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aguardando-pedido > p {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.018em;
        color: #FFFFFF;
    }

    .pedido-pronto {
        width: 364px;
        height: 61px;
        background-color: #32B72F;;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pedido-pronto > p {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.018em;
        color: #FFFFFF;
    }

    .escondido {
        display: none;
    }

}

